* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header's UI and layout properties */

.black-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 56px;
  background: #000000 0% 0% no-repeat padding-box;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.white-header {
  position: absolute;
  top: 56px;
  left: 0px;
  width: 1920px;
  height: 111px;
  background: #ffffff 0% 0% no-repeat padding-box;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

/* upper navbar icons layout properties */

#black-nav--phone__icon {
  position: absolute;
  top: 18px;
  left: 1199px;
  width: 14px;
  height: 19px;
}

#black-nav--service__icon {
  position: absolute;
  top: 15px;
  left: 1451px;
  width: 25px;
  height: 25px;
}

#black-nav--map__icon {
  position: absolute;
  top: 16px;
  left: 1586px;
  width: 17px;
  height: 23px;
}

#black-nav--contact__icon {
  position: absolute;
  top: 15px;
  left: 1683px;
  width: 20px;
  height: 28px;
}

/* upper navbar icons UI properties */

a.black-nav--value {
  display: inline-block;
  position: relative;
  text-align: left;
  font: normal normal bold 16px/19px Univers LT Std;
  letter-spacing: 0px;
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
}

/* upper navbar string-items layout properties */

#black-nav--phone__value {
  top: 20px;
  left: 1223px;
  width: 98px;
  height: 19px;
}

#black-nav--service__value {
  top: 0px;
  left: 1484px;
  width: 56px;
  height: 19px;
}

#black-nav--map__value {
  top: -20px;
  left: 1612px;
  width: 34px;
  height: 19px;
}

#black-nav--contact__value {
  top: -40px;
  left: 1711px;
  width: 58px;
  height: 19px;
}

/* Brand and logos */

#white-nav--maserati {
  position: relative;
  top: 11px;
  left: 151px;
  width: 189px;
  height: 77px;
}

#white-nav--stepone {
  position: relative;
  top: 11px;
  left: 163px;
  width: 81px;
  height: 85px;
}

h1.white-nav--brand {
  display: inline;
  position: absolute;
  top: 21px;
  left: 454px;
  width: 146px;
  height: 71px;
  text-align: left;
  font: normal normal 300 32px/33px Univers;
  letter-spacing: 0px;
  color: #000000;
}

/* lower navbar string-items UI properties */

a.white-nav--value {
  display: inline-block;
  position: absolute;
  text-align: left;
  font: normal normal normal 18px/23px Univers;
  letter-spacing: 0px;
  color: #2e2e2e;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: none;
}

/* lower navbar string-items layout properties */

#white-nav--new {
  top: 42px;
  left: 935px;
  width: 37px;
  height: 23px;
}

#white-nav--used {
  top: 42px;
  left: 1017px;
  width: 41px;
  height: 23px;
}

#white-nav--specials {
  top: 42px;
  left: 1106px;
  width: 73px;
  height: 23px;
}

#white-nav--service {
  top: 42px;
  left: 1231px;
  width: 174px;
  height: 23px;
}

#white-nav--sell {
  top: 42px;
  left: 1425px;
  width: 90px;
  height: 23px;
}

#white-nav--finance {
  top: 42px;
  left: 1572px;
  width: 67px;
  height: 23px;
}

#white-nav--about {
  top: 42px;
  left: 1690px;
  width: 102px;
  height: 23px;
}

/* main background layout properties */

.background--banner {
  position: absolute;
  top: 167px;
  left: -126.00028228759766px;
  width: 2091px;
  height: 844px;
  background-image: url("../images/backgroundMainBanner.png");
  opacity: 1;
}

.background--factory {
  position: relative;
  top: 354px;
  left: 245px;
  width: 897px;
  height: 429px;
  background: transparent url("../images/factory.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.background--gray {
  position: absolute;
  top: 1010px;
  left: 0px;
  width: 1920px;
  height: 1026px;
  background: transparent url("../images/backgroundGray.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

/* main-content's UI and layout properties */

.main-title {
  display: inline-block;
  position: absolute;
  top: 104px;
  left: 460px;
  width: 1000px;
  height: 62px;
  text-align: center;
  font: normal normal normal 50px/62px Univers;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.main-message {
  display: inline-block;
  position: absolute;
  top: 226px;
  left: 431px;
  width: 1058px;
  height: 121px;
  text-align: center;
  font: normal normal 300 25px/36px Univers;
  letter-spacing: 0px;
  color: #656565;
  opacity: 1;
}

.main-car {
  position: absolute;
  top: 260px;
  left: 427px;
  width: 1067px;
  height: 534px;
}

button {
  position: absolute;
  top: 750px;
  left: 635px;
  width: 650px;
  height: 86px;
  border: 2px solid #000000;
  border-radius: 8px;
  opacity: 1;
  text-align: center;
  font: normal normal normal 40px/50px Univers;
  letter-spacing: 0px;
  color: #000000;
}

/* footer's UI and layout properties */

.footer {
  position: absolute;
  top: 2036px;
  left: 0px;
  width: 1920px;
  height: 143px;
  background: #333436 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* footer-content's UI and layout properties */

a.footer-nav {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: left;
  font: normal normal normal 16px/19px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#footer-nav--copyright {
  top: 60px;
  left: 152px;
  width: 454px;
  height: 19px;
}

#footer-nav--directions {
  top: 40px;
  left: 1157px;
  width: 73px;
  height: 19px;
}

#footer-nav--contact {
  top: 20px;
  left: 1307px;
  width: 56px;
  height: 19px;
}

#footer-nav--about {
  top: 0px;
  left: 1441px;
  width: 43px;
  height: 19px;
}

#footer-nav--privacy {
  top: -20px;
  left: 1562px;
  width: 53px;
  height: 19px;
}

#footer-nav--sitemap {
  top: -40px;
  left: 1692px;
  width: 59px;
  height: 19px;
}
